:root {
  --blue: #1e90ff;
  --vertMenuWidth: 56px;
  --bkgcol: #202225;
  --acolor: #b9bbbe;
  --hvrstrk: #fff;
  --vertspan: 11px;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.vertscroll-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */













.vert_a:hover {
  background-color: #36393f;
  color: #fff;
  border-radius: 6px;
}

.clrful {
  stroke: var(--acolor);
  transition: stroke 0.2s ease;
}


.vert_a:hover .clrful {
  stroke: var(--hvrstrk);
}

.vert_a span {
  font-size: var(--vertspan);
  text-align: center;
  color: var(--acolor);
}

#content {
  margin-left: var(--vertMenuWidth);
}

